
<div class="row">
    <div class="col-md-7">
        <div class="container">
            <div>
                <label for="inpstart" class="control-label">Start:</label>
                <input class="form-control" type="datetime-local" id="inpstart" name="input" [(ngModel)]="meteredFare.startDate"
                       placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-01-01T00:00:00" max="2018-12-31T00:00:00" required />
            </div>
            <hr />
            <div>
                <label for="inp_above6mph" class="control-label">Minutes Above 6mph:</label>
                <input id="inp_above6mph" class="form-control" [(ngModel)]="meteredFare.minutesAbove6mph" placeholder="Miles above 6MPH" type="number" min="0" />
                <label for="inp_below6mph" class="control-label">0.2 Miles Below 6mph:</label>
                <input id="inp_below6mph" class="form-control" [(ngModel)]="meteredFare.milesBelow6mph" placeholder="Miles below 6MPH" type="number" min="0" />
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div style="box-shadow: 10px 10px 5px #888888; background-color:whitesmoke; padding:5px">
            <h4 highlightme>Details:</h4>
            <h5>Date: {{meteredFare.startDate}}</h5>
            <h5>Weekday: {{isWeekday()?'Yes':'No'}}</h5>
            <h5>Peak: {{isPeak()?'Yes (+ $1)':'No'}}</h5>
            <hr />
            <h2>Fare: ${{getFare()}}</h2>
        </div>
    </div>
</div>