@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Metered Fare</h1>
    <p class="lead">This is the Metered fare calculator. The entry fee is $3 and the NY tax is $0.5 per ride.</p>
    <h6>(The fare varies due to peak time which is Monday-Friday from 4pm to 8pm.)</h6>
</div>

<div class="row">
    <my-app>Loading...</my-app>
</div>